* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

body {
  background: url(./assets/bg-desktop-dark.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

#container {
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 588px;
  height: 712px;
}

#profile {
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}

#profile img {
  width: 112px;
  height: 112px;
}

#profile span {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#switch {
  padding: 8px 0;
  display: flex;
  width: 64px;
  height: 40px;
}

#switch span {
  position: relative;
  width: 64px;
  height: 24px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 9999px;
}

#switch span button {
  background: url(./assets/moon-stars.svg) white no-repeat center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 9999px;
  cursor: pointer;

  position: absolute;
  right: 50%;
  top: -21.5%;
  width: 32px;
  height: 32px;
}

#links {
  padding: 24px;
  width: 100%;
}

#links ul {
  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style: none;
}

#links ul li {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

#links ul li a {
  padding: 16px 24px;
  display: flex;
  justify-content: center;

  border-radius: 8px;

  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}